@import "tailwindcss";
@import "./lib/twintrinsic.css";

@theme {
  --color-element-50: var(--color-stone-50);
  --color-element-100: var(--color-stone-100);
  --color-element-200: var(--color-stone-200);
  --color-element-300: var(--color-stone-300);
  --color-light: var(--color-stone-300);
  --color-dark: var(--color-stone-800);
  --color-danger: var(--color-red-600);
  --color-warning: var(--color-amber-500);
  --color-info: var(--color-sky-600);
  --color-success: var(--color-emerald-800);
  --color-failure: var(--color-rose-700);
}

